* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    background-color: #1E1F20;
    font-size: 20px;
    padding: 10px 10px;
}
.user-chat-box {
    width: 60%;
    position: relative;
    left: 40%;
    margin-bottom: 10px;
}

.ai-chat-box {
    width: 60%;
    display: flex;               
    align-items: flex-start;     
    gap: 10px; 
    margin-bottom: 10px
}

.chat-container {
    width: 100%;
    height: 65%;
    background-color: #1E1F20;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    overflow: auto;
    position: relative;
}

.chat-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4285F4;
  font-size: 32px;
  text-align: center;
}

.user-chat-area {
    background-color: #2A2B2C;
    width: 90%;
    padding: 20px;
    color: white;
    border-radius: 40px 0px 40px 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.chooseimg{
    width: 30%;
}

.ai-chat-area {
    background-color: #2A2B2C;
    width: 90%;
    padding: 20px;
    color: white;
    position: relative;
    left: 3%;
    border-radius: 0px 40px 40px 40px;
    font-size: 20px;
    color: #ECECEC;
    line-height: 1.6;
    font-weight: 400;
}

#userImage {
    position: absolute;
    right: 0;
    filter: drop-shadow(2px 2px 10px black);
}

#aiImage {
    position: relative;
    right: 0;
    filter: drop-shadow(2px 2px 10px black);
    top: 0;
}

.prompt-area {
    width: 100%;
    height: 20%;
    background-color: #1E1F20;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prompt-area input {
    width: 50%;
    height: 80px;
    background-color: #2A2B2C;
    outline: none;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
    filter: drop-shadow(0px 1px 5px white);
}

.prompt-area button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2A2B2C;
    border: none;
    cursor: pointer;
}

.prompt-area button:hover {
    background-color: rgba(0, 0, 0, 0.338);
}

.load {
    position: relative;
    top: -3px;
    right: 50px;
}